<%if flash[:error_message] != nil %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong><%=flash[:error_message]%></strong> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<%end%>
<div class="card" style="width: 28rem; margin:auto;margin-top:2rem">

     <h5 class="card-title" style="margin:auto;margin-top:5px;">Login Form</h5>
  <div class="card-body">
   <%= form_with model:@user, url:login_users_path do |form|%>
    <div class="mb-3">
        <%=form.label :email, class:"form-label"%>
        <%=form.email_field :email, class:"form-control"%>
        
    </div>
     
    <div class="mb-3">
        <%=form.label :password, class:"form-label"%>
        <%=form.password_field :password, class:"form-control"%>
    </div>
    
    <%= form.submit "Log In", class:"btn btn-primary m-1"%><br>
   
<%end%>
 
  </div>
  <a href="/users/new" class="btn btn-success">Don`t have account</a>
</div>


